{% extends "stripe_app/base.html" %}
{% block content %}
    <div class="sr-root">
      <div class="sr-main">
        <header class="sr-header">
          <div class="sr-header__logo"></div>
        </header>
        <div class="sr-payment-summary completed-view"><h1>Your payment succeeded</h1>
        <button onclick="window.location.href = '{% url 'stripe_app:items' %}';">Return to main page</button></div>
        <div class="sr-section completed-view"> </div>
      </div>
      <div class="sr-content">
        <div class="pasha-image-stack">
          <img
            src="https://picsum.photos/280/320?random=4"
            width="140"
            height="160"
          />
        </div>
      </div>

    </div>
{% endblock %}